<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us | Team</title>
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/contact.css') }}"
    />
  </head>
  <body>
    <header>
     <nav>
      <div class="left"> Meet Our Team </div>
     </nav>
      <div class="line"></div>
    </header>

    <main>
      <section class="contact-us container">
        
        <div class="team-grid">
          <!-- Member 1 -->
          <div class="team-member">
            <img
              src="{{ url_for('static', filename='image/ayan.jpg') }}"
              alt="Member 1"
              class="member-photo"
            />
            <h3 class="member-name">Ayan Mukherjee</h3>
             <p class="memberwork">Contribution: Frontend & Backend </p>
            <p class="member-phone">Mob: 8972580044</p>
            <p class="member-email">Email: ayanm10243567@gmail.com</p>
            <a href="https://www.linkedin.com/in/ayan-mukherjee-0536b8294/" class="linkedin-link"
              >LinkedIn</a
            >
           
          </div>
          <!-- Member 2 -->
          <div class="team-member">
            <img
              src="{{ url_for('static', filename='image/sohom.jpg') }}"
              alt="Member 2"
              class="member-photo"
            />
            <h3 class="member-name">Soham Mondal</h3>
            <p class="memberwork">Contribution: Module integration & Flask APP</p>
            <p class="member-phone">Mob: 6299239743</p>
            <p class="member-email">Email: sohammandal49@gmail.com</p>
            <a href="https://www.linkedin.com/in/soham-mandal-215925256/" class="linkedin-link"
              >LinkedIn</a
            >
          </div>
          <!-- Add more members following the same structure -->
          <!-- Member 3 -->
          <div class="team-member">
            <img
              src="{{ url_for('static', filename='image/ritik.jpg') }}"
              alt="Member 3"
              class="member-photo"
            />
            <h3 class="member-name">Ritik Maity</h3>
            <p class="memberwork">Contribution: Posture Detection Model</p>
            <p class="member-phone">Mob: 9932655687</p>
            <p class="member-email">Email: ritikmaity4@gmail.com</p>
            <a href="https://www.linkedin.com/in/ritik-maity-a935a2269/" class="linkedin-link"
              >LinkedIn</a
            >
          </div>
          <!-- Member 4 -->
          <div class="team-member">
            <img
              src="{{ url_for('static', filename='image/debu.jpg') }}"
              alt="Member 4"
              class="member-photo"
            />
            <h3 class="member-name">Debojyoti Chatterjee</h3>
            <p class="memberwork">Contribution: Testing & Documentation</p>
            <p class="member-phone">Mob: 9144922515</p>
            <p class="member-email">Email: debojyotichatterjee2222@gmail.com</p>
            <a href="https://www.linkedin.com/in/debojyoti-chatterjee-280a96270/" class="linkedin-link"
              >LinkedIn</a
            >
          </div>
          <!-- Member 5 -->
          <div class="team-member">
            <img
              src="{{ url_for('static', filename='image/pinki.jpg') }}"
              alt="Member 5"
              class="member-photo"
            />
            <h3 class="member-name">Pinaki Ranjan Sahu </h3>
            <p class="memberwork">Contribution: Data Analysis</p>
            <p class="member-phone">Mob: 90648 94565</p>
            <p class="member-email">Email: sahupinaki15@gmail.com</p>
            <a href="https://linkedin.com/in/evedavis" class="linkedin-link"
              >LinkedIn</a
            >
          </div>
          <!-- Member 6 -->
          <div class="team-member">
            <img
              src="{{ url_for('static', filename='image/gon.jpg') }}"
              alt="Member 6"
              class="member-photo"
            />
            <h3 class="member-name">Debangan Mukherjee</h3>
            <p class="memberwork">Contribution: Collect Dataset </p>
            <p class="member-phone">Mob: 8972673605</p>
            <p class="member-email">Email: debangan.durgapur2003@gmail.com</p>
            <a href="https://www.linkedin.com/in/debangan-mukherjee-26a0a41b4/" class="linkedin-link"
              >LinkedIn</a
            >
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
